@font-face {
  font-family: OpenSans-R;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-B;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  font-family: OpenSans-B, sans-serif;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

.banner {
  position: relative;
  display: flex;
  height: 64rem;

  background-image: url(../image/banner-mobile.jpg);
  background-color: #666666;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;

  padding: 1.5rem 4rem 1.5rem;
  margin-bottom: 3.8rem;
}

.banner::after {
  content: "";
  background-color: rgba(0 ,0 ,0 ,0.6);
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 2;
}

.banner-content {
  z-index: 3;
  text-align: center;
}

.banner-logo {
  max-width: 26.8rem;
  margin: 0 auto;
}

.btn-menu {
  position: relative;

  width: 2.4rem;
  height: 1.9rem;

  border-top: 0.3rem solid #ffffff;
  border-bottom: 0.3rem solid #ffffff;
  margin-bottom: 19rem;
  margin-left: auto;
}

.btn-menu:before {
  position: absolute;
  content:"";
  width: 100%;
  height: 0.3rem;
  top: 0.5rem;
  left: 0;
  background-color: #ffffff;
}

.menu-list {
  display: none;
}

.first-heading {
  display: block;

  font-family: OpenSans-B, sans-serif;
  color: #ffffff;
  font-weight: bold;
  font-size: 2.6rem;
  line-height: 1.35;
  text-transform: uppercase;

  margin: 4rem auto 0 auto;
}

.structural-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  font-size: 1.6rem;

  margin-bottom: 3.4rem;
}

.structural-heading::after {
  position: absolute;
  content: "";
  width: 6.6rem;
  height: 0.3rem;
  margin-top: 1.7em;
  background: #e1d9bd;
}

.structural-link {
  color: #0f0d0e;
}

.trend {
  position: relative;
  display: flex;
  min-height: 23.2rem;

  background-color: #666666;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

  margin-bottom: 0.3rem;
}

.trend::after {
  content: "";
  background-color: rgba(0 ,0 ,0 ,0.6);
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 2;
}

.garden {
  background-image: url(../image/trend1.jpg);
}

.cheese {
  background-image: url(../image/trend2.jpg);
}

.hike {
  background-image: url(../image/trend3.jpg);
}

.lemon {
  background-image: url(../image/trend4.jpg);
}

.trend-outline {
  width: 100%;
  margin: auto 1.5rem 1.6rem 1.5rem;
  padding: 3rem 1.5rem 2.6rem 2.9rem;
  border: 0.3rem solid #8f834f;
  z-index: 3;
}

.keywords {
  display: flex;
  margin-bottom: 1.2rem;
}

.keyword {
  margin-right: 2rem;
}

.keyword-link {
  display: block;

  font-size: 1.4rem;
  color: #b59f5b;
}

.keyword-link:hover {
  text-decoration: underline;
}

.main-caption {
  font-size: 1.6rem;
  line-height: 1.25;
  color: #0f0d0e;
}

.trend-caption {
  color: #ffffff;
}

.page-orientation {
  margin-top: 4.3rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  padding-bottom: 4rem;
}

.content-part {
  padding-bottom: 4.2rem;
}

.main-block:nth-child(n+2) {
  margin-top: 4.5rem;
}

.main-wrapper {
  min-height: 75vw;
}

.main-picture {
  display: block;
  width: 100%;
  height: 100%;
}

.main-coordination {
  font-size: 1.2rem;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main-time {
  font-family: OpenSans-R sans-serif;
  font-weight: normal;
  color: #888888;

  margin-right: 1.5rem;
}

.unknown-author {
  font-family: OpenSans-B sans-serif;
  font-weight: bold;
  color: #000000;
}

.main-description {
  font-family: OpenSans-R sans-serif;
  font-size: 1.4rem;
  line-height: 1.43;
  font-weight: normal;
  color: #0f0d0e;
}

.main-end {
  height: 0.3rem;
  width: 100%;
  background-color: #eeeeee;

  margin-top: 2.2rem;
}

.str-new {
  margin-top: 4.2rem;
}

.mini-section {
  display: flex;
  margin-bottom: 1.7rem;
}

.mini-section:last-child {
  margin-bottom: 0;
}

.wrapper-new {
   width: 7rem;
}

.new-post-picture {
  display: block;
}

.new-post-content {
  margin-left: 1.9rem;
  text-align: left;
}

.aside-mini-caption {
  margin-top: 0.5rem;
}

.new-post-caption {
  font-size: 1.4rem;
  color: #0f0d0e;
}

.hidden-hint {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.form-search {
  display: flex;
  margin-top: 6rem;
  margin-bottom: 4.2rem;
}

.news-field {
  min-width: calc(100vw - 9.5rem);
  height: 4.8rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  border: none;

  background-color: #f4f7f6;

  font-family: OpenSans-R, sans-serif;
  font-size: 1.3rem;
}

.news-field:hover {
  outline-style: none;
}

.news-field:focus {
  outline-style: none;
  border-bottom: 0.1rem solid #ebe7d7;
}

.btn-search {
  height: 4.8rem;
  width: 4.8rem;
  border: none;

  background-color: #b59f5b;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.8rem;

  cursor: pointer;
}

.btn-search:hover {
  background-color: #323232;
}

.email-field {
  min-width: 100%;
  height: 4.8rem;
  margin-bottom: 1.5rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  border: none;

  background-color: #f4f7f6;

  font-family: OpenSans-R, sans-serif;
  font-size: 1.3rem;
}

.email-field:hover {
  outline-style: none;
}

.email-field:focus {
  outline-style: none;
  border-bottom: 0.1rem solid #ebe7d7;
}

.btn-email {
  height: 4.8rem;
  width: 100%;
  margin-bottom: 4rem;
  border: none;

  font-family: OpenSans-B, sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #b59f5b;
  cursor: pointer;
}

.btn-email:hover, .btn-shop:hover {
  background-color: #323232;
}

.aside-keywords {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4.2rem;
}

.aside-keyword {
  display: block;
  font-family: OpenSans-B, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;

  padding: 0.4rem 1.3rem 0.4rem 1.3rem;
  border: 0.3rem solid #eeeeee;
  margin-right: 0.4rem;
  margin-bottom: 0.6rem;
}

.aside-keyword-link {
  color: #0f0d0e;
}

.hover:hover {
  border: 0.3rem solid #b59f5b;
}

.topics {
  margin-top: 2.5rem;
}

.topic {
  font-family: OpenSans-B, sans-serif;
  font-weight: bold;
}

.topic-link {
  display: flex;
  position: relative;
  font-size: 1.4rem;
  line-height: 3.5;
  color: #000000;
}

.topic::after {
  position: absolute;
  content: "";
  width: calc(100vw - 4.5rem);
  height: 0.1rem;
  background: #eeeeee;
}

.topic-link:hover, .main-caption:hover {
  color: #b59f5b;
}

.superscript {
  font-size: 1.2rem;
  color: #b59f5b;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-wrapper {
  min-height: 20rem;
  min-width: 20rem;
}

.product-content {
  position: relative;
  bottom: 3.0rem;
  padding: 4.8rem 1.8rem 2.6rem 1.8rem;
  border: 0.3rem solid #d3c59d;
}

.product-caption {
  font-family: OpenSans-B, sans-serif;
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.angle-bracket::before {
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bold;
  content: "<<";
  color: #000000;
}

.angle-bracket::after {
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bold;
  content: ">>";
  color: #000000;
}
.paragraph-bracket::before {
  font-family: monospace;
  font-size: 1rem;
  font-weight: bold;
  content: "<<";
  color: #000000;
}

.paragraph-bracket::after {
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    content: ">>";
    color: #000000;
}

.link-bracket::before {
  font-family: monospace;
  font-size: 1rem;
  font-weight: bold;
  content: "<<";
  color: #b59f5b;
}

.link-bracket::after {
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    content: ">>";
    color: #b59f5b;
}

.product-description {
  font-size: 1.5rem;
}

.product-link {
  font-family: inherit;
  font-weight: inherit;
  text-transform: lowercase;
  color: #b59f5b;
}

.product-link:hover {
  text-decoration: underline;
}

.price-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 2rem;
}

.price {
  font-family: OpenSans-B, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.1;
  text-transform: uppercase;
}

.price-cross-out {
  font-size: 1.4rem;
  text-decoration: line-through;
}

.product-line {
  position: relative;
}

.product-line::before {
  display: block;
  position: absolute;
  content: "-";
  left: 33%;
  top: 22%;

  color: #000000;
}

.btn-shop {
  width: 14rem;
  height: 4.8rem;
  border: none;

  font-family: OpenSans-B, sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #b59f5b;
  cursor: pointer;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  margin-top: 1.4rem;
  margin-bottom: 4.8rem;
  background-color: #f4f7f6;
}

.icon {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-left: 1.4rem;
  margin-right: 1.4rem;
  background-color: #f4f7f6;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 2rem;
}

.twitter {
  background-image: url(../svg/004-twitter.svg);
}

.pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.facebook {
  background-image: url(../svg/002-facebook-logo.svg);
}

.instagram {
  background-image: url(../svg/005-instagram.svg);
}

.tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.copyright {
  display: block;
  font-size: 1.2rem;
  color: #999999;
  text-align: center;
}

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(9 ,8 ,6 ,0.6);
  z-index: 4;
}

.popup-body {
  display: flex;
  justify-content: center;

  padding-top: 5.6rem;
}

.popup-content {
  position: relative;
  width: 96vw;
  max-width: 33rem;
  height: 54.5rem;
  background-color: #ffffff;

  padding-top: 2.5rem;
}

.popup-end {
  display: block;
  position: absolute;
  right: 0;
  top: -3.2rem;
  width: 2.6rem;
  height: 2.6rem;
  background-image: url(../svg/form-x.svg);
  background-color: #000000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 2.6rem;
}

.misunderstanding {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.visit-frequency {
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-size: 0.8rem;
  background-position: right 1.5rem center;

  margin-top: 0.8rem;
  margin-bottom: 2.8rem;

  cursor: pointer;
}

.fidback-text {
  font-family: OpenSans-R, sans-serif;
  font-size: 1.3rem;
  color: #000000;
  font-weight: normal;
}

.fidback-radio-group {
  margin-top: 1.2rem;
  margin-bottom: 2.5rem;
}

.margin {
  margin-right: 3rem;
}

.radio:checked ~ .radio-text::before {
  background-image: url(../svg/form-circle.svg);
}

.radio-text::before {
  display: inline-block;
  vertical-align: middle;
  content: "";

  width: 2.5rem;
  height: 2.5rem;

  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position: center center;

  margin-right: 0.7rem;
}

.fidback-textarea {
  height: 13rem;
  resize: none;
  padding: 2rem;
  margin-top: 0.8rem;
  margin-bottom: 2rem;
}

.fidback-textarea:focus ,
.visit-frequency:focus {
  border-right: 0.1rem solid #e7e3d1;
  border-left: 0.1rem solid #e7e3d1;
}

.btn-fidback {
  display: block;
  width: calc(100% - 5rem);
  margin-left: auto;
  margin-right: auto;
}

.btn-fidback:hover {
  width: 100%;
}

@media(max-width: 640px) and (orientation: landscape) {
  .trends {
    display: flex;
    flex-wrap: wrap;
  }

  .trend {
    width: calc(50% - 0.3rem);
  }

  .trend:nth-child(odd) {
    margin-right: 0.3rem;
  }
}

@media(min-width: 641px) {
  .banner {
    height: auto;
  }

  .banner-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .banner-logo {
    order: 0;
    margin: 0;
  }

  .trends {
    display: flex;
  }

  .content-part {
    display: flex;
  }

  .main-description {
    font-size: 1.5rem;
  }

  .str-new {
    margin-top: 0;
  }

  .aside {
    width: 27.1rem;
  }

  .news-field {
    min-width: 22.2rem;
  }

  .form-search {
    margin-bottom: 6.2rem;
  }

  .btn-email {
    margin-bottom: 6.2rem;
  }

  .aside-keywords {
    margin-bottom: 6.2rem;
  }

  .topic::after {
    width: 27.1rem;
  }

  .products {
    display: flex;
    align-items: stretch;
  }

  .product-content {
    flex-grow: 1;
  }

  .popup-body {
    padding-top: 23.5rem;
  }

  .popup-content {
    min-width: 39rem;
    height: 59.5rem;
    padding-top: 5rem;
  }

  .misunderstanding {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

@media(min-width: 641px) and (max-width: 1200px) {
  .banner {
    background-image: url(../image/banner-bg-tablet.jpg);

    padding: 4.3rem 3.5rem 8rem 3.5rem;
  }

  .banner-content {
    width: calc(100vw - 7rem);
  }

  .banner-wraper {
    margin-bottom: 10rem;
  }

  .banner-logo {
    width: 15.8rem;
  }

  .btn-menu {
    order: 1;
    margin: 0;
  }

  .first-heading {
    max-width: 62rem;
    font-size: 4rem;

    margin-left: auto;
    margin-right: auto;
  }

  .structural-heading {
    font-size: 1.8rem;
  }

  .trends {
    flex-wrap: wrap;
  }

  .trend {
    min-height: 24.6rem;
    width: calc(50% - 0.3rem);
  }

  .trend:nth-child(odd) {
    margin-right: 0.3rem;
  }

  .trend-outline {
    margin: auto 1.9rem 1.6rem 1.9rem;
    padding: 3.2rem 3.5rem 3rem 3.1rem;
  }

  .main-caption {
    font-size: 1.7rem;
  }

  .page-orientation {
    margin-top: 5rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
  }

  .content-part {
    padding-bottom: 4.8rem;
  }

  .main-wrapper {
    height: auto;
    min-height: 19.1rem;
    margin-bottom: 1.5rem;
  }

  .aside {
    margin-left: 3.5rem;
  }

  .new-post-caption {
    font-size: 1.4rem;
  }

  .products {
    flex-wrap: wrap;
  }

  .product {
    width: calc(50% - 1.2rem);
  }

  .product:nth-child(even) {
    margin-left: 2.3rem;
  }

  .background {
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  .popup-end {
    top: -3.6rem;
  }
}

@media(min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {

  .trends {
    flex-wrap: nowrap;
  }

  .trend {
    width: calc(25% - 0.3rem);
    overflow-y: hidden;
  }

  .trend:nth-child(3) {
    margin-left: 0.3rem;
  }

  .trend-outline {
    padding: 3.2rem 1rem 3rem 3.1rem;
  }
}

@media(min-width: 1201px) {
  .banner {
    background-image: url(../image/banner-bg.jpg);
    padding-top: 2.8rem;
    padding-bottom: 20.2rem;
    margin-bottom: 5.8rem;
  }

  .banner-content {
    width: 117rem;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-menu {
    display: none;
  }

  .banner-logo {
    width: 17.9rem;
  }

  .menu-list {
    display: flex;
  }

  .menu-list-item:nth-child(n+2) {
    margin-left: 3.1rem;
  }

  .menu-list-link {
    font-family: OpenSans-R, sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
    color: #ffffff;
  }

  .menu-list-link:hover {
    text-decoration: underline;
  }

  .first-heading {
    display: block;
    width: 69rem;
    margin-top: 10.5rem;
    margin-left: auto;
    margin-right: auto;

    font-size: 4.5rem;
    line-height: 1.65;
  }
  .structural-heading {
    font-size: 2rem;

    margin-bottom: 4.1rem;
  }

  .trend {
    min-height: 32rem;
    width: calc(25% - 0.3rem);
  }

  .trend:nth-child(n+2) {
    margin-left: 0.3rem;
  }

  .trend-outline {
    margin: auto 2rem 1.6rem 2rem;
    padding: 3.5rem 4rem 3rem 3.3rem;

  }
  .main-caption {
    font-size: 2rem;
  }

  .page-orientation {
    width: 117rem;
    margin-left: auto;
    margin-right: auto;
  }
  .content-part {
    padding-bottom: 6.2rem;
  }

  .main-block {
    display: flex;
    margin-bottom: 5.6rem;
  }

  .main-block:last-child {
    margin-bottom: 0;
  }

  .main-wrapper {
    min-width: 38.1rem;
    min-height: auto;
  }

  .main-content {
    margin-left: 29px;
  }

  .main-end {
    display: none;
  }

  .aside {
    margin-left: 12.1rem;
  }

  .new-post-caption {
    font-size: 1.4rem;
  }

  .product {
    width: calc(33.33% - 4.3rem);
  }

  .product:nth-child(n+2) {
    margin-left: 6.4rem;
  }

  .product-caption {
    font-size: 2rem;
  }

  .background {
    margin-top: 3.4rem;
    margin-bottom: 7.2rem;
  }

  .popup-end {
    top: -2.5rem;
    width: 1.7rem;
    height: 1.7rem;
    background-image: url(../svg/form-x.svg);
    background-color: #000000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1.7rem;
  }
}
